[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
keyboard = "*"
trio = "*"
spotify-local-control = {path = ".", editable = true}

[dev-packages]
mypy = "*"
rope = "*"
twine = "*"
white = "*"

[requires]
python_version = "3.6"
