[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
keyboard = "*"
spotify-local-control = {path = ".", editable = true}
pyobjc-framework-Quartz = {version="*", markers="sys_platform == 'dawrin'"}

[dev-packages]
mypy = "*"
rope = "*"
twine = "*"
white = "*"
sphinx = "*"

[requires]
python_version = "3.6"
