[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
keyboard = "*"
pyobjc-framework-Quartz = {version = "*",markers = "sys_platform == 'dawrin'"}
psutil = "*"
"delegator.py" = "*"

[dev-packages]
flit = "*"

[requires]
python_version = "3.7"
